@import "../../fonts.scss";

.modal-visible{
    position: fixed;
    transform: scale(1, 1);
    left: 50%;
    top: 40%;
    width: 400px;
    height: auto;
    margin-left: -194px;
    margin-top: -150px;
    box-sizing: border-box;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    visibility: visible;
    animation: bounceIn 0.5s ease-out;
    padding: 20px 0px;
    @media(max-width: 767px) {
        left: unset;
        right: 0;
        margin-left: unset;
        width: 100%;
        margin-top: -193px;
    }
    .modal-header{
        padding: unset;
        justify-content: center;
        font-size: 25px;
        color: #e00606;
    }
    .modal-question-container{
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        font-family: $font-OpenSans;
        .modal-userName{
            font-weight: bold;
        }
    }
    .modal-buttons-container{
        display: flex;
        justify-content: center;
        .btn{
            margin: 0px 20px;
        }
    }
}
.modal-non-visible{
    visibility: hidden;
}
.table-main-container {
    padding: 30px;
    margin: 10px auto;
    box-shadow: 5px 5px 6px -4px black;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background: #545b69;
    .table-main-h1{
        font-size: 34px;
        display: flex;
        justify-content: center;
        color: white;
        margin:0;
        padding: 0;
        font-family: $font-OpenSans;
    }
    .table-header-container{
        height: 70px;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 23%;
        margin: 0px auto 20px auto;
        @media(max-width: 767px) {
            width: 100%;
        }
        @media(min-width: 768px) and (max-width: 1199px) {
            width: 40%;
        }
        .table-header-text{
            margin: 0;
            padding: 0;
            flex: 1 1;
            display: flex;
            margin-left: 30px;
            font-size: 22px;
            color: white;
            font-family: $font-OpenSans;
        }
        .table-header-buttonAdd{
            margin-right: 20px;
            font-family: $font-OpenSans;
        }
    }
    .btn{
        width: 100px;
        margin: 0;
        padding: 0;
        height: 44px;
    }
    tr{
        font-family: $font-OpenSans;
        letter-spacing: 1px;
    }
}
.clickable {
  cursor: pointer;
}

@keyframes bounceIn {
    0% {
      -webkit-transform: scale(0,0);
    }
    70% {
      -webkit-transform: scale(1.3,1.3);
    }
    100% {
      -webkit-transform: scale(1,1);
    }
}
